<div *ngIf="vehicle">
  <hr />
  <label>Marca: </label><br />
  <input [(ngModel)]="vehicle.brand" placeholder="brand"><br />
  <label>Modelo: </label><br />
  <input [(ngModel)]="vehicle.model" placeholder="model"><br />
  <label>Color: </label><br />
  <input [(ngModel)]="vehicle.color" placeholder="color"><br />
  <label>Placa: </label><br />
  <input [(ngModel)]="vehicle.plate" placeholder="plate"><br />
  <label>Año de fabricación: </label><br />
  <input [(ngModel)]="vehicle.build_year" placeholder="build year"><br />
</div>